footer.footer 
    .footer_logo 
        a(href= '/.netlify/functions/api')
            img(src='/img/logo-green.png' alt='Natours')
    ul.footer_nav 
        li: a(href='#') About Us
        li: a(href='#') Download App
        li: a(href='#') Become a guide
        li: a(href='#') Careers
        li: a(href='#') Contact
    p.footer_copyright &copy; by Sabudh Thapa.