header.header
    nav.nav.nav--tours
        a.nav_el(href='/') All tours 
    .header_logo 
        img(src='/img/logo-white.png' alt='Natours Logo')

    nav.nav.nav--user 
        if user
            a.nav_el.nav_el--logout Log out 
            a.nav_el(href='/me')
                img.nav_user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
                span= user.name.split(' ')[0]
        else
            a.nav_el(href = '/login') Log in
            a.nav_el.nav_el--cta(href = '#') Sign up