mixin reviewCard(review)
    .reviews_card
        .reviews_avatar
            figure.reviews_avatar-img
                img(src=`/img/users/${review.user? review.user.photo : `default.jpg`}`, alt=`review.user.name`)
            h6.reviews_user= review.user.name
        p.reviews_text= review.review 
        .reviews_rating

            each star in [1,2,3,4,5]
                svg.reviews_star(class=`reviews_star--${review.rating >= star ? 'active' : 'inactive'}`)
                    use(xlink:href='/img/icons.svg#icon-star')

