extends base

block content 
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Log into your account
            form.form--login
                .form_group
                    label.form_label(for='email') Email address
                    input#email.form_input(type='email', placeholder='you@example.com', required)
                .form_group.ma-bt-md
                    label.form_label(for='password') Password
                    input#password.form_input(type='password', placeholder='••••••••', required, minlength='8')
                .form_group
                    button.btn.btn--green(type='submit') Login

        .mock-account 
            p jeniffer@example.com
            p test1234