.side-nav {
  list-style: none;
  white-space: nowrap;
  & li {
    margin: 1rem 0;
    border-left: 0 solid #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  &--active,
  & li:hover {
    border-left: 4px solid #fff !important;
  }
  &--active dic {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }

  & .tab {
    padding-block: 1rem;
    @include fluid(padding-inline, 1.5rem, 4rem);

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  & .tab {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  & svg {
    height: 1.9rem;
    width: 1.9rem;
    fill: #f7f7f7;
    margin-right: 2rem;
  }
}
.admin-nav {
  margin-top: 5.5rem;
}
.admin-nav_heading {
  margin: 0 5rem 1.5rem 4rem;
  padding-bottom: 3px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #f2f2f2;
  border-bottom: 1px solid currentColor;
}

.card-container {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 7rem;
}

.user-view {
  background-color: #fff;
  max-width: 120rem;
  margin: 0 auto;
  min-height: 100vh;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  &_menu {
    flex: 22rem 0 0; // experimental
    background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(#7dd56f),
      to(#28b487)
    );
    background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
    padding: 4rem 0;
  }
  &_content {
    flex-grow: 3;
    padding: 7rem 0;
  }
  &_form-container {
    max-width: 68rem;
    margin: 0 auto;
    padding-block: 0;
    @include fluid(padding-inline, 1.5rem, 8rem);
  }
}
