.section-description {
  background-color: #fcfcfc;
  margin-top: calc(0px - var(--section-rotate));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  @include respond(tab-port) {
    flex-direction: column;
  }
  & > * {
    // padding: 0 8vw;
    @include fluid(padding-inline, 1rem, 8rem);
    padding-top: 14vw;
    padding-bottom: calc(1vw + var(--section-rotate));
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}

.description-box {
  @include respond(tab-port) {
    @include fluid(padding-top, 1rem, 5rem);
  }
  @include respond(phone) {
    padding-block: 1rem;
  }
  & .description {
    margin-right: 5rem;
  }
  &.description_text {
    font-size: 1.7rem;
  }
  &.description_text:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.overview-box {
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  @include fluid(gap, 0.5rem, 3rem);

  @include respond(tab-port) {
    @include fluid(padding-bottom, 1rem, 5rem);
    justify-content: space-evenly;
  }

  &_group {
    & h2 {
      margin-bottom: 1.5rem;
    }

    &:not(:last-child) {
      margin-bottom: 7rem;
    }
  }
  &_detail {
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 400;

    & svg {
      margin-right: 1.25rem;
    }
    &:not(:last-child) {
      margin-bottom: 2.25rem;
    }
  }
  &_icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: #55c57a;
  }
  &_label {
    font-weight: 700;
    margin-right: 2.25rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    white-space: nowrap;
    @include fluid(margin-right, 0.1rem, 2.25rem);
  }
  &_text {
    text-transform: capitalize;
    white-space: nowrap;
  }
  &_img {
    overflow: hidden; //*breaks border-radius
    border-radius: 50rem;
    height: 3.5rem;
    aspect-ratio: 1/1;
    margin-right: 1.25rem;
  }
}

.section-pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );

  margin-top: calc(0px - var(--section-rotate));
  position: relative;
  z-index: 1000;

  @include respond(phone) {
    flex-direction: column;
    clip-path: none;
    margin-block: 1rem;
  }
}

.picture-box_img {
  display: block;
  width: 100%;
  height: 110%;
  -o-object-fit: cover;
  object-fit: cover;

  &--1 {
    padding-top: 15%;
  }
  &--2 {
    padding-bottom: 15%;
  }
  &--3 {
    padding-bottom: 27%;
  }
  @include respond(phone) {
    padding-block: 0.2rem;
  }
}
.section-map {
  position: relative;
  height: 65rem;
  margin-top: calc(0px - var(--section-rotate));
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.marker {
  background-image: url("../img/pin.png");
  background-size: cover;
  width: 32px;
  height: 40px;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 25rem;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Lato", sans-serif;
  padding: 1.5rem !important;
  font-size: 1.4rem;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
}
//////////////////////////////////////////////////////////////
.section-reviews {
  margin-top: calc(0px - var(--section-rotate));
  padding: calc(5rem + var(--section-rotate)) 0;
  position: relative;
  z-index: 1000;
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#7dd56f),
    to(#28b487)
  );
  background: linear-gradient(to right bottom, #7dd56f, #28b487);
  clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
  -webkit-clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
}
/////////////////////////////////////////
.reviews {
  padding: 5rem 0;
  display: grid;
  grid-column-gap: 6rem;
  grid-auto-flow: column;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;

  &_card {
    width: 30rem;
    padding: 4rem;
    background-color: #f7f7f7;
    border-radius: 3px;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    scroll-snap-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  &:before,
  &:after {
    content: "";
    width: 2rem;
  }
  &_avatar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  &_avatar-img {
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }
  &_user {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  &_text {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-style: italic;
    font-weight: 400;
  }
  &_rating {
    margin-top: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  &_star {
    height: 2rem;
    width: 2rem;
    margin-right: 1px;
  }
  &_star--active {
    fill: #55c57a;
  }
  &_star--inactive {
    fill: #bbb;
  }
}

.section-cta {
  margin-top: calc(0px - var(--section-rotate));
  padding: 3rem;
  padding-bottom: 11rem;
  padding-top: calc(15rem + var(--section-rotate));
  background-color: #f7f7f7;
  @include respond(phone) {
    padding-inline: 0.2rem;
    padding-block: 5rem;
    padding-top: calc(5rem + var(--section-rotate));
  }
}

.cta {
  position: relative;
  max-width: 105rem;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  padding: 9rem 5rem 9rem 21rem;
  border-radius: 2rem;
  -webkit-box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;

  @include respond(tab-land) {
    @include fluid(padding-block, 4rem, 9rem);
  }
  @include respond(tab-port) {
    @include fluid(padding-inline, 1rem, 5rem);
  }
  @include respond(phone) {
    border-radius: 0;
  }
  &_img {
    height: 15rem;
    width: 15rem;
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
    box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);

    @include respond(tab-port) {
      top: 0%;
    }
    &--logo {
      padding: 2rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: -webkit-gradient(
        linear,
        left top,
        right bottom,
        from(#7dd56f),
        to(#28b487)
      );
      background: linear-gradient(to right bottom, #7dd56f, #28b487);
      z-index: 10;
      transform: translate(-35%, -50%);
      @include respond(tab-port) {
        transform: translate(3rem, 1rem);
      }
    }
    &--logo img {
      width: 100%;
      object-fit: contain;
    }
    &--1 {
      z-index: 9;
      transform: translate(-10%, -50%) scale(0.97);
      @include respond(tab-port) {
        transform: translate(10rem, 1rem) scale(0.97);
      }
    }
    &--2 {
      z-index: 8;
      transform: translate(15%, -50%) scale(0.94);
      @include respond(tab-port) {
        transform: translate(17rem, 1rem) scale(0.94);
      }
    }
  }

  &_content {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr auto;
    grid-gap: 1rem;
    grid-auto-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    @include respond(tab-port) {
      padding-top: 14rem;
      grid-template-rows: auto auto auto;
      grid-template-columns: 1fr;
      grid-gap: 1rem;
    }
  }
  &_text {
    font-size: 1.9rem;
    font-weight: 400;
    inline-size: 85%;
    @include respond(tab-port) {
      inline-size: 100%;
    }
  }
}
//////////////////////////////////////////
// .user-view {
//   background-color: #fff;
//   max-width: 120rem;
//   margin: 0 auto;
//   min-height: 100vh;
//   border-radius: 3px;
//   overflow: hidden;
//   -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
//   box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
// }
// .user-view_menu {
//   -webkit-box-flex: 32rem;
//   -ms-flex: 32rem 0 0px;
//   flex: 32rem 0 0;
//   background-image: -webkit-gradient(
//     linear,
//     left top,
//     right bottom,
//     from(#7dd56f),
//     to(#28b487)
//   );
//   background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
//   padding: 4rem 0;
// }
// .user-view_content {
//   -webkit-box-flex: 1;
//   -ms-flex: 1;
//   flex: 1;
//   padding: 7rem 0;
// }
// .user-view_form-container {
//   max-width: 68rem;
//   margin: 0 auto;
//   padding: 0 8rem;
// }
