.footer {
  position: relative;
  min-height: 8rem;
  display: flex;
  justify-content: space-between;
  background: #444;
  align-items: center;

  @include fluid(padding-inline, 1rem, 5rem);
  @include fluid(padding-block, 1rem, 2rem);

  &_logo {
    max-width: 15rem;
    margin-right: 1rem;
  }
  &_nav {
    display: flex;
    flex-wrap: wrap;
    flex-basis: fit-content;
    justify-content: flex-end;
    & li {
      @include fluid(margin-inline, 0.8rem, 3rem);
      list-style-type: none;
    }
  }
  &_copyright {
    @include fluid(margin-left, 1rem, 3rem);
  }
}
