$color-primary-01: #2e864b;
$color-primary-02: #20bf6b;
$color-primary-03: #2e864b;

$color-secondary-01: #55c57a;
$color-secondary-02: #55c57a;
$color-secondary-03: #55c57a;



//* Size for media queries for max-width/desktop-first
//In media queries 1rem or 1em is defined by browser 1em = 16px
$phone-size: 37.5em; //600px
$tab-port-size: 56.25em; //900px
$tab-land-size: 75em;  //1200px
$big-screen-size: 112.5em; //1800px